*{
    margin: 0;
    Padding:0;
    box-sizing: border-box;
}

body{
    font-family: baskerville;
    line-height: 1.5;
    
}

.top_section{
    margin: 70px;
    margin-left: 200px;
}

h2{
    margin-bottom: 40px;
}

span{
    color: #14ad7a;
    
}

.text{
    max-width: 350px;
}

p{
    margin-bottom: 10px;
}

.top_section{
margin-left: 230px;
}

.bottom_section{
    background-color: #666666;
    height: 500px;
    
    
    
}

h3{
    background-color: #ffbf00;
    width: 270px;
    height: 40px;
    align-content: center;
    margin-left: 70px;
    margin-bottom: 20px;
    padding-left:12px;
    margin-left: 200px;
    
}

h3{
    position: relative;
    top: 65px;
    right: 10px;
}

.text_bottom{
    background-color: #fff;
    max-width: 600px;
    padding: 50px 0 20px 50px;
    margin-left: 200px;
    
}




@media (max-width:768) {
    .top_section{
        max-width:300px;
    }

    .bottom_section{
        max-width: 200px;
        margin-left: 0;
    }

    .text_bottom{
        margin: 20px 7px 20px 7px;
        
    }
}